<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shoes Stores</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Admin<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Stores</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Color</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Size</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
    <br>
    <% @stores.each do |store| %>
      <tr>
        <td><%= image_tag store.store_image ,:height=>"100",:width=>"100" if store.store_image.attached? %></td>
        <td><%= store.name %></td>
        <td><%= store.color %></td>
        <td><%= store.brand %></td>
        <td><%= store.size %></td>
        <td><%= store.description %></td>
        <td><%= store.price %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
                    </tbody>
                    </table>
                                        <%= link_to "New Shoes", new_store_path, class: "btn btn-success" %>

                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->