<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @store.store_image ,height:"100", width:"100" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @store.color %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @store.brand %>
</p>

<p>
  <strong>Size:</strong>
  <%= @store.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
